<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <navbar class="navbar">
      <div class="container-navbar">
        <a href="/"><h1>BookStore</h1></a>
        <div class="links-navbar">
          <a href="#">Seus Favoritos</a>

          {{#if username}}
            <a href="/criar_review">Criar Review</a>
            <a>Olá, {{username}}</a>
            <a href="/logout">Sair</a>
          {{else}}
            <a href="/cadastrar">Criar Conta</a>
            <a href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </navbar>
  </body>
</html>